.navigation-item {
  width: 185px;
  height: 56px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  gap: 16px;

  &:hover {
    cursor: pointer;
  }

  &__text {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-decoration: none;
  }

  &__icon {
    margin-left: 16px;
  }
}

.nav-link {
  text-decoration: none;
}

.active {
  background-color: #c06ecc;
  text-decoration: none;
  border-radius: 8px;
}

.active .navigation-item__text {
  color: #ffffff;
}

.active .icon {
  fill: white;
}
